<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soap" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="json" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="json">
          <webHttp defaultBodyStyle="Bare"
                   defaultOutgoingResponseFormat="Json"
                   />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost.fiddler:61182/SOAPAndJSONService.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="soap" contract="SOAPAndJSONService.ISOAPAndJSONService"
        name="soap" />
      <endpoint address="http://localhost.fiddler:61182/SOAPAndJSONService.svc/json"
        binding="webHttpBinding" bindingConfiguration="json" contract="SOAPAndJSONService.ISOAPAndJSONService"
        behaviorConfiguration="json"
        name="json" />
    </client>
  </system.serviceModel>
</configuration>